@media (max-width:1200px){
  .row-flex {
  display: block;
}
.yoga-info p:before{
  display: none;
}
.yoga-info p:after{
  display: none;
}
}
@media (max-width: $screen-md-max){
  .f34 {
    font-size: 25px;
}
.f55 {
    font-size: 45px;
}
.yoga-info p {
    font-size: 40px;
}
.f30 {
    font-size: 25px;
}
.f65 {
    font-size: 60px;
}
.f35 {
    font-size: 30px;
}
.f45 {
    font-size: 35px;
}
.mtop10{
      margin-top: 10px;
}
.flex-direction-nav .flex-prev {
  left: 40px !important;
  zoom:0.7;
}
.flex-direction-nav .flex-next {
  right: 40px !important;
  zoom:0.7;
}
.flexslider:hover .flex-direction-nav .flex-prev {

  left: 40px!important;

}
.flexslider:hover .flex-direction-nav .flex-next {

  right: 40px!important;

}
}
@media (max-width: $screen-sm-max){
  .f65 {
    font-size: 30px;
}
.f30 {
    font-size: 16px;
}
.mt30 {
    margin-top: 15px;
}
.btn {
    font-size: 14px;

}
.f55 {
    font-size: 20px;
}
.f34 {
    font-size: 14px;
}
.f45 {
    font-size: 22px;
}
.f35 {
    font-size: 18px;
}
.mt45 {
    margin-top:10px;
}
.m-text-center{
  text-align: center;
}
.m-top30{
  margin-top: 30px;
}
.list-inline li {

    margin: 0px 1px;
}
.float-left{
  float: none;
}
.float-right{
  float: none;
}
.f-sign{
  font-size: 15px;
}

}
@media (max-width: $screen-xs-max){
  .f-sign {
    font-size: 12px;
}
.f65 {
    font-size: 25px;
}
.f30 {
    font-size: 14px;
}
.btn {
    font-size: 12px;
    padding: 6px 20px;
}
.f55 {
    font-size: 18px;
}
.f34 {
    font-size: 13px;
}
.yoga-info p {
    font-size: 30px;
}
.list-inline li {
    margin: 3px 1px;
}

}
@media (max-width:480px) {

}
