@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/fancyBox/source/jquery.fancybox.css";
/* Bootstrap Variables Goes Here */
$brand-primary: #0d9dff !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
body {
  padding-top: 70px;
}
img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}
img {
  opacity: 0;
  @include transition(all 300ms ease);
}
img.doneLoading {
  opacity: 1;
}
nav li:hover .dropdown-menu {
  display: block;
}
a {
  cursor: pointer;
  @include transition(all ease 300ms);
}
//bootstrap forms
.input-lg,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn,
.btn,
.form-control {
  border-radius: 0;
  @include box-shadow(none);
}
.form-control:focus {
  border-color: $brand-primary;
  outline: 0;
  @include box-shadow(none);
}
//bootstrap forms
/* Start writing sass here */
.row-flex {
  @include display(flex);
}
.col-flex {
  @include flex(1);
}

// wire frame css
// header
  nav {
    background: url('../img/header-bg.png') no-repeat;
  }
// header end
// home
.flexslider {
  border: none;
  margin: 0;
  background-color: transparent;
}
.yoga, .love {
  background-color: #f0f0f0;
}
.food { background-color: #fafafa; }
.yoga-classes-slider { background-color: #fdfdfd; }
.yoga-style { background-color: #f9f9f9; }
.yoga-teachers { background-color: #f5f5f5; }
.food-section { background-color: #f6f6f6; }
.location { background-color: #f6f6f6; }
.footer-menu { background-color: #808285; }
.connect-with-us { background-color: #737373; }\
.footer-main {
  background-color: #51b1ac;
  color: #fff;
}
// home end
// wire frame css end

@import "fancybox-override";
