.teacher-profile{
  .style-banner{
      background-image: url("../img/teacher/yog.jpg");
  }
  .expert-detail{
    text-align: center;
    padding-top: 70px;
    .rounded{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .list-inline{
    a{
      display: inline-block;
      color: rgba(51, 51, 51, 0.83);
      span{
        width: 20px;
        height: 20px;
        display: inline-block;
        margin: 10px;
        img{
        width: 100%;
        display: inline-block;
        }
      }
    }

  }
}
 .profile-details{
padding: 30px 0;
p+p{
  margin-top: 25px;
}
}
.fitalic{
  font-style: italic;
}
.social-media{
  .social{
    padding: 30px 0;
    ul{
      margin: 0;
      li{
        margin:0 0 25px;
      }
    }
  }
}
.insta{
  margin-bottom: 15px;
}
}
// .style-banner{
//   height: 200px;
// width: auto;
// background-image: url("../img/r6.jpg");
// background-repeat: no-repeat;
// background-size: cover;
// background-position: center;
//   .banner-text{
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%,-50%);
//         text-align: center;
//         h3{font-size: 52px;}
//         p{font-size: 18px;}
//   }
// }
// .bik-ansura{
//   .style-banner{
//   background-image: url("../img/r7.jpg");
// }
// }
// .teacher-profile{
//   .style-banner{
//   background-image: url("../img/teacher/yog.jpg");
// }
// }
