.teacher-profile{
  .style-banner{
      background-image: url("../img/teacher/yog.jpg");
  }
  .expert-detail{
    text-align: center;
    padding-top: 70px;
    .rounded{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}
 .profile-details{
padding: 30px 0;
p+p{
  margin-top: 25px;
}
}
}
// .style-banner{
//   height: 200px;
// width: auto;
// background-image: url("../img/r6.jpg");
// background-repeat: no-repeat;
// background-size: cover;
// background-position: center;
//   .banner-text{
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%,-50%);
//         text-align: center;
//         h3{font-size: 52px;}
//         p{font-size: 18px;}
//   }
// }
// .bik-ansura{
//   .style-banner{
//   background-image: url("../img/r7.jpg");
// }
// }
// .teacher-profile{
//   .style-banner{
//   background-image: url("../img/teacher/yog.jpg");
// }
// }
