<section>
  <div >
    <img src="img/art1.jpg" alt="" class="img-responsive width">

  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="detail-article">
          <div class="article-title">
            <h2 class="font-rubik color-green font500">Conscious Eating - YourBody Knows Best</h2>
          </div>
          <div class="article-date font-rubik">
            <p><span class="color-green">Alex John</span>  |  December 18, 2015</p>
          </div>
          <div class="article-data color-third font-rubik mt30">
            <p>Eating and diets have become a fashion trend in the last few years. One year we're paleo, one year we're raw etc. We follow what the new studies tell us, what "experts" tell us, we follow the trends blindly. We often forget that we're all individuals with different bodies and different needs. What is good for someone else doesn't mean it is good for us as well. We have to ask our body what it needs in the current situation.  </p>
          </div>
          <div class="article-data color-third font-rubik mt30">
            <h4 class="font-rubik color-green font-light">Let's start with why.</h4>
            <p>Eating and diets have become a fashion trend in the last few years. One year we're paleo, one year we're raw etc. We follow what the new studies tell us, what "experts" tell us, we follow the trends blindly. We often forget that we're all individuals with different bodies and different needs. What is good for someone else doesn't mean it is good for us as well. We have to ask our body what it needs in the current situation.  </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
