<div class="home-slider">
  <div class="row-flex">
    <div class="col-flex">
      <div class="yoga text-center com">
        <flex-slider class="carousel" flex-slide="slide in yoga track by $index" animation="slide" animation-loop="true" direction-nav="false">
          <li>
            <div class="bg-slider">
              <img ng-src="{{slide.img}}" alt="" class="img-responsive">
               <div class="yoga-detail">
                <h2 class="name text-up font-jura">{{slide.name}}</h2>
                <p class="descp font-small ">{{slide.descp}}</p>
              </div>
            </div>

          </li>
        </flex-slider>
      </div>
    </div>
    <div class="col-flex">
      <div class="food text-center com">
        <flex-slider class="carousel" flex-slide="slides in food track by $index" direction-nav="false" animation="slide" animation-loop="true">
          <li>
            <div class="bg-slider">
              <img ng-src="{{slides.img}}" alt="" class="img-responsive">
               <div class="yoga-detail">
                <h2 class="name text-up font-big font-jura">{{slides.name}}</h2>
                <p class="descp font-small ">{{slides.descp}}</p>
              </div>
            </div>
          </li>
        </flex-slider>
      </div>
    </div>
    <div class="col-flex">
      <div class="love text-center com">
        <flex-slider class="carousel" flex-slide="slidess in love track by $index" direction-nav="false" animation="slide" animation-loop="true">
          <li>
            <div class="bg-slider">
              <img ng-src="{{slidess.img}}" alt="" class="img-responsive">
               <div class="yoga-detail">
                <h2 class="name text-up font-big font-jura">{{slidess.name}}</h2>
                <p class="descp font-small ">{{slidess.descp}}</p>
              </div>
            </div>

          </li>
        </flex-slider>
      </div>
    </div>
  </div>
</div>
<div class="subscribtion text-center love-section">
  <ul class="subscribtion-text inline ">
    <li class="text-up f22 font-rubikm"><span><i class="fa fa-inr" aria-hidden="true"></i></span>999 a month</li>
    <li class="text-up f22 font-rubikm">no commitments</li>
    <li class="text-up f22 font-rubikm">cancel anytime</li>
  </ul>
</div>
<section class="yoga-section">
  <div class="row-flex">
    <div class="col-flex">
      <div class="yoga-classes-slider text-center ">
        <flex-slider class="carousel" flex-slide="class in yogaclasses track by $index" direction-nav="false" animation="slide" animation-loop="true">
          <li>
            <div class="yogaclass-inside bg-slider">
              <img ng-src="{{class.img}}" alt="" class="img-responsive">
              <div class="yoga-detail">
              <h2 class="heading text-up f65 font55 font-jura">{{class.head}}</h2>
              <p class="descp  f30 f24 line-130">{{class.descp}}</p>
            <div class="mt30">
                <button class="btn btn-dark bg-blue btn-black">YOGA STUDIOS</button>
            </div>
              </div>
            </div>
          </li>
        </flex-slider>
      </div>
    </div>
    <div class="col-flex">
      <div class="teachers">
        <div class="row-flex">
          <div class="col-flex">
            <div class="row-flex">
              <div class="col-flex">
                <img src="img/slider.png" class="img-responsive" alt="">
                <!-- <flex-slider class="carousel " flex-slide="book in bookShow track by $index" direction-nav="false" animation="slide" animation-loop="true">
                  <li>
                    <img ng-src="{{book.img}}" class="img-responsive" alt="slider">
                  </li>
                </flex-slider> -->
              </div>
              <div class="col-flex">
                <div class="trending text-center">
                  <h2 class="text-up f55 f43 font-jura">TRENDING YOGA STYLES</h2>
                    <span>Sed ut perspiciatis unde omnis perspiciatis unde omnis</span>
                    <div class="mt15">
                      <button class="btn btn-dark bg-blue text-uppercase btn-black"> Book your class</button>
                    </div>
                    </div>
              </div>
            </div>

        </div>
        </div>
      </div>
      <div class="yoga-teachers text-center  bg-slider">
          <img src="img/bg2.png" alt="" class="img-responsive">
          <div class="yoga-detail">
        <h2 class="text-up f55 f40 font-jura">KNOW OUR TEACHERS</h2>
        <span>Sed ut perspiciatis unde omnis</span>
        <div class="teachers-names">
          <div class="expert-teacher">
            <div class="img"></div>
            <span class="display-block">Sanjana Singh</span>
            <span class="display-block">Expertise in Hathe Yoga</span>
          </div>
          <div class="expert-teacher">
              <div class="img"></div>
              <span class="display-block">Sanjana Singh</span>
              <span class="display-block">Expertise in Hathe Yoga</span>
          </div>
          <div class="expert-teacher">
              <div class="img"></div>
              <span class="display-block">Sanjana Singh</span>
              <span class="display-block">Expertise in Hathe Yoga</span>
          </div>
        </div>
        <a href="">ARE YOU A TEACHER GET ON THE LIST</a>
      </div>
      </div>
      </div>
    </div>
  </div>
</section>
<section class="quote">
  <div class="row-flex">
    <div class="col-flex">
      <div class="quote-slider">
        <flex-slider class="carousel " flex-slide="teach in teacher track by $index" direction-nav="false" animation="slide" animation-loop="true">
          <li>
            <div class="yogaclass-inside bg-slider">
              <div class="food-detail text-center">
              <p class="descp  quotes font30 f21 line-130">{{teach.descp}}</p>
            </div>
          </div>
          </li>
        </flex-slider>
      </div>
    </div>
  </div>
</section>
<section class="food-section">
  <div class="row-flex">
    <div class="col-flex">
      <div class="food-slider">
        <flex-slider class="carousel " flex-slide="food in foodSlider track by $index" direction-nav="false" animation="slide" animation-loop="true">
          <li>
            <div class="yogaclass-inside bg-slider">
              <img ng-src="{{food.img}}" alt="" class="img-responsive">
              <div class="food-detail text-center">
              <h2 class="heading text-up f65 font55 font-jura">{{food.head}}</h2>
              <p class="descp  f30 f21 line-130">{{food.descp}}</p>
            </div>
          </div>
          </li>
        </flex-slider>
      </div>
    </div>
  </div>
</section>
<div class="trends">
  <div class="recipes">
<div class="row-flex">
  <div class="col-flex">
    <div class="row-flex">
      <div class="col-flex">
        <!-- <img src="img/s1.png" class="img-responsive" alt="image"> -->
      </div>
      <div class="col-flex">
        <div class="trending text-center">
          <h2 class="text-up text-center f55 f40 font-jura">trending food recipes</h2>
            <span class="text-center">Sed ut perspiciatis unde omnis perspiciatis unde omnis</span>
            <div class="mt15">
              <button class="btn btn-dark bg-blue text-uppercase btn-black"> READ MORE</button>
                <button class="btn btn-dark bg-blue text-uppercase btn-black"> share yours</button>
            </div>
            </div>
      </div>
    </div>
  </div>
  <div class="col-flex">
    <div class="row-flex">
      <div class="col-flex">
        <!-- <img src="img/s1.png" class="img-responsive" alt="image"> -->
      </div>
      <div class="col-flex">
        <div class="trending text-center">
          <h2 class="text-up text-center f55 f40 font-jura">ARTICLE OF THE WEEK</h2>
            <span class="text-center">Sed ut perspiciatis unde omnis perspiciatis unde omnis</span>
            <div class="mt15">
              <button class="btn btn-dark bg-blue text-uppercase btn-black"> READ MORE</button>
                <button class="btn btn-dark bg-blue text-uppercase btn-black"> write yours</button>
            </div>
            </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="healthy">
<div class="row-flex">
  <div class="col-flex">
    <div class="yoga-teachers text-center  bg-slider">
        <img src="img/bg2.png" alt="" class="img-responsive">
        <div class="yoga-detail">
      <h2 class="text-up f55 f40 font-jura">healthy restaurants you like</h2>
      <span>Sed ut perspiciatis unde omnis</span>
      <div class="teachers-names">
        <div class="expert-teacher">
          <div class="img"></div>
          <span class="display-block">Sanjana Singh</span>
          <span class="display-block">Expertise in Hathe Yoga</span>
        </div>
        <div class="expert-teacher">
            <div class="img"></div>
            <span class="display-block">Sanjana Singh</span>
            <span class="display-block">Expertise in Hathe Yoga</span>
        </div>
        <div class="expert-teacher">
            <div class="img"></div>
            <span class="display-block">Sanjana Singh</span>
            <span class="display-block">Expertise in Hathe Yoga</span>
        </div>
      </div>
      <a class="text-up" href="">get on the list</a>
    </div>
    </div>
  </div>
  <div class="col-flex">
    <flex-slider class="carousel " flex-slide="health in healthSlider track by $index" direction-nav="false" animation="slide" animation-loop="true">
      <li>
        <div class="yogaclass-inside bg-slider">
          <div class="health-detail text-center">
          <h2 class="heading text-up f40 font-jura">{{health.head}}</h2>
          <p class="descp  f30 f21 line-130">{{health.descp}}</p>
        </div>
      </div>
      </li>
    </flex-slider>
  </div>
</div>
</div>
</div>
<section class="love-section text-center">
  <div class="container">
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <h2 class="heading f65 text-up font55 font-jura">LOVE</h2>
    <p class=" f30 line-130 f24">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="love-slider">
      <flex-slider class="carousel " flex-slide="love in loveSlider track by $index">
        <li>
          <div class="img">
            <img ng-src="{{love.img}}" alt="" class="img-responsive">
          </div>
        </li>
      </flex-slider>
    </div>
  </div>
</div>
    <p class=" mar12">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
  </div>
</section>
<section class="location">
  <div class="text-center">
    <div class="padd15">
      <p class="f45 margin0 f40 font-jura">FIND YOUR YOGA STUDIO &amp; YOUR FAVORITE FOOD PLACE</p>
      <p class=" f35 font30">Sed ut perspiciatis unde omnis iste natus error sit voluptatem .</p>
    </div>

    <div class="map">
      <img src="img/map.png" class="img-responsive"alt="map">
    </div>
  </div>
</section>
