<div class="home-slider">
  <div class="row-flex">
    <div class="col-flex">
      <div class="yoga text-center com">
        <flex-slider class="carousel" flex-slide="slide in yoga track by $index" animation="slide" animation-loop="true" direction-nav="false">
          <li>
            <div class="bg-slider">
              <img ng-src="{{slide.img}}" alt="" class="img-responsive">
               <div class="yoga-detail">
                <h2 class="name text-up font-big">{{slide.name}}</h2>
                <p class="descp font-small font-roboto">{{slide.descp}}</p>
              </div>
            </div>

          </li>
        </flex-slider>
      </div>
    </div>
    <div class="col-flex">
      <div class="food text-center com">
        <flex-slider class="carousel" flex-slide="slides in food track by $index" direction-nav="false" animation="slide" animation-loop="true">
          <li>
            <div class="bg-slider">
              <img ng-src="{{slides.img}}" alt="" class="img-responsive">
               <div class="yoga-detail">
                <h2 class="name text-up font-big">{{slides.name}}</h2>
                <p class="descp font-small font-roboto">{{slides.descp}}</p>
              </div>
            </div>
          </li>
        </flex-slider>
      </div>
    </div>
    <div class="col-flex">
      <div class="love text-center com">
        <flex-slider class="carousel" flex-slide="slidess in love track by $index" direction-nav="false" animation="slide" animation-loop="true">
          <li>
            <div class="bg-slider">
              <img ng-src="{{slidess.img}}" alt="" class="img-responsive">
               <div class="yoga-detail">
                <h2 class="name text-up font-big">{{slidess.name}}</h2>
                <p class="descp font-small font-roboto">{{slidess.descp}}</p>
              </div>
            </div>

          </li>
        </flex-slider>
      </div>
    </div>
  </div>
</div>
<section class="yoga-section">
  <div class="row-flex">
    <div class="col-flex">
      <div class="yoga-classes-slider text-center ">
        <flex-slider class="carousel" flex-slide="class in yogaclasses track by $index" direction-nav="false" animation="slide" animation-loop="true">
          <li>
            <div class="yogaclass-inside bg-slider">
              <img ng-src="{{class.img}}" alt="" class="img-responsive">
              <div class="yoga-detail">
              <h2 class="heading text-up f65">{{class.head}}</h2>
              <p class="descp font-roboto f30 line-130">{{class.descp}}</p>
            <div class="mt30">
                <button class="btn btn-dark btn-black font-otamaep">YOGA STUDIOS</button>
            </div>
              </div>
            </div>
          </li>
        </flex-slider>
      </div>
    </div>
    <div class="col-flex">
      <div class="yoga-style text-center bg-slider">
        <img src="img/bg1.png" alt="" class="img-responsive">
      <div class="yoga-detail">
        <h2 class="f55 text-up">AVAILABLE YOGA STYLES</h2>
        <p class="font-roboto f34 line-130">Sed ut perspiciatis unde omnis</p>
        <div class="mt30">
          <button class="btn btn-dark btn-black font-otamaep">YOGA STUDIOS</button>
        </div>
      </div>
      </div>
      <div class="yoga-teachers text-center  bg-slider">
          <img src="img/bg2.png" alt="" class="img-responsive">
          <div class="yoga-detail">
        <h2 class="text-up f55">AVAILABLE YOGA teachers</h2>
        <p class="font-roboto f34 line-130">Sed ut perspiciatis unde omnis iste natus error.</p>
      <div class="mt30">
          <button class="btn btn-dark btn-black font-otamaep">YOGA STUDIOS</button>
      </div>
      </div>
      </div>
    </div>
  </div>
</section>
<section class="yoga-info text-center">
<div class="container-fluid">
  <div class="row">
    <div class="">
      <div class="position-relative">
          <p>Sed ut perspiciatis unde omnis iste natexplicab.</p>
      </div>
    </div>
  </div>
</div>
</section>
<section class="food-section text-center">
  <flex-slider flex-slide="food in foodSection track by $index" direction-nav="false">
    <li>
      <div class="food-detail">
        <h2 class="head">{{food.head}}</h2>
        <p class="descp">{{food.descp}}</p>
        <div class="button-more">
          <button class="btn btn-dark text-uppercase">know more</button>
          <button class="btn btn-dark text-uppercase">know more</button>
        </div>
      </div>
    </li>
  </flex-slider>
</section>
<section class="love-section text-center">
  <div class="container">
    <h2 class="heading ">LOVE</h2>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
    <div class="love-slider">
      <flex-slider flex-slide="love in loveSlider track by $index" direction-nav="false">
        <li></li>
      </flex-slider>
    </div>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
  </div>
</section>
<section class="location">
  <div class="text-center">
    <p>FIND YOUR YOGA STUDIO &amp; YOUR FAVORITE FOOD PLACE</p>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem .</p>
    <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d123179.20133343842!2d8.463899077076375!3d46.98326893615203!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47855ace9a7636a7%3A0x7d8782d95b338a32!2sUrnersee!5e0!3m2!1sen!2sin!4v1465457457771" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</section>
