<section>
  <div class="home-slider">
    <flex-slider class="carousel " flex-slide="love in loveSlider track by $index">
      <li>
        <div class="img position-relative">
          <img ng-src="{{love.img}}" alt="" class="img-responsive">
          <div class="container">
            <div class="slider-data">
              <h2 class="font-rubik color-white f40">Amica Cafe</h2>
              <h4 class="font-rubik color-white f28">Lorem Ipsum Dolor Sit Amet</h4>
              <h4 class="font-rubik color-white f28">Consectetuer ati.</h4>
              <div class="btn-know mt35">
                <button type="button" class="btn-white font-rubik text-up btn" name="button">KNOW MORE</button>
              </div>
            </div>
          </div>
        </div>
      </li>
    </flex-slider>
  </div>
</section>
<section class="bg-black">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
<div class="text-center">
  <h4>I am  looking  to  journey to <span><input type="text" placeholder="City"></span>& Find a place that serves<span><input type="text" placeholder="City"></span> </h4>
  <h4>Cuisine  in the <span><input type="text"></span>the cost for 2 being between <span><input type="number"></span></h4>
  <div class="btn-apply">
    <button type="button">Apply</button>
  </div>
</div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="bg-color">
    <div class="container">
<div class="row">
  <div class="col-md-5">
    <span>Sort BY: </span>
    <div class="display-inline">
      <select class="form-control">
    <option>POPULaRiTY</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
  </select>
    </div>
  </div>
  <div class="col-md-7">
    <div class="toggle-btn pull-right">
      <span>Map Viwe: </span>
      <div class="display-inline">
        <div class="onoffswitch">
      <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
      <label class="onoffswitch-label" for="myonoffswitch">
          <span class="onoffswitch-inner"></span>
          <span class="onoffswitch-switch"></span>
      </label>
  </div>
      </div>

    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4"></div>
  <div class="col-md-4"></div>
</div>
    </div>
  </div>
</section>
