<section>
  <div class="home-slider arrow-none nav-none">
      <flex-slider class="carousel " flex-slide="love in loveSlider track by $index">
          <li>
              <div class="img position-relative">
                  <img ng-src="{{love.img}}" alt="" class="img-responsive">

              </div>
          </li>
      </flex-slider>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <div class="text-center">
        <div class="rest-name">
          <h4>AMICA CAFE</h4>
        </div>
      <div class="rat-img">
        <img src="img/rating.png" alt="">
      </div>
      <div class="get-in-touch">
        <span>GET IN TOUCH WITH US</span>
      </div>
      <div class="social-link custom-li">
        <ul class="padding0">
          <li>
              <a href="">
                <img src="img/l1.png" alt="">
              </a>
          </li>
          <li>
            <a href="">
              <img src="img/l2.png" alt="">
            </a>
          </li>
          <li>
            <a href="">
              <img src="img/l3.png" alt="">
            </a>
          </li>
          <li>
            <a href="">
              <img src="img/l4.png" alt="">
            </a>
          </li>
        </ul>
      </div>
      <div class="desc-restaurant">
        <p>aperiam, eaque ipsa quae ab illo inventore veritatis et.aperiam, eaque ipsa quae ab illoinventore veritatis et.aperiam, eaque ipsa quae ab illo inventore veritatis et.aperiam, eaqueipsa quae ab illo inventore veritatis et.aperiam, eaque ipsa quae ab illo inventore veritatis et.aperiam, eaque ipsa quae ab illo inventore veritatis et.</p>
      </div>
      </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="menu-bg">
    <div class="text-center">
      <h4>OUR MENU</h4>
    </div>
  </div>
  <div class="menu-list">
    <uib-accordion close-others="true">
   <uib-accordion-group is-open="accordian[0].isFirstOpen">
     <uib-accordion-heading>
      <h4></h4>FRESH SALADS<i class="pull-right fa" ng-class="{'fa fa-minus': accordian[0].isFirstOpen, 'fa fa-plus': !accordian[0].isFirstOpen}"></i>
     </uib-accordion-heading>
     This is just some content to illustrate fancy headings.
   </uib-accordion-group>
   <uib-accordion-group is-open="accordian[1].isFirstOpen">
     <uib-accordion-heading>
       SANDWICHES <i class="pull-right fa" ng-class="{'fa fa-minus': accordian[1].isFirstOpen, 'fa fa-plus': !accordian[1].isFirstOpen}"></i>
     </uib-accordion-heading>
     This is just some content to illustrate fancy headings.
   </uib-accordion-group>
   <uib-accordion-group is-open="accordian[2].isFirstOpen">
     <uib-accordion-heading>
       GARLIC BREAD <i class="pull-right fa" ng-class="{'fa fa-minus': accordian[2].isFirstOpen, 'fa fa-plus': !accordian[2].isFirstOpen}"></i>
     </uib-accordion-heading>
     This is just some content to illustrate fancy headings.
   </uib-accordion-group>
   <uib-accordion-group is-open="accordian[3].isFirstOpen">
     <uib-accordion-heading>
       PASTAS <i class="pull-right fa" ng-class="{'fa fa-minus': accordian[3].isFirstOpen, 'fa fa-plus': !accordian[3].isFirstOpen}"></i>
     </uib-accordion-heading>
     This is just some content to illustrate fancy headings.
   </uib-accordion-group>
   <uib-accordion-group is-open="accordian[4].isFirstOpen">
     <uib-accordion-heading>
       WRAPS<i class="pull-right fa" ng-class="{'fa fa-minus': accordian[4].isFirstOpen, 'fa fa-plus': !accordian[4].isFirstOpen}"></i>
     </uib-accordion-heading>
     This is just some content to illustrate fancy headings.
   </uib-accordion-group>
   <uib-accordion-group is-open="accordian[5].isFirstOpen">
     <uib-accordion-heading>
       DESSERTS <i class="pull-right fa" ng-class="{'fa fa-minus': accordian[5].isFirstOpen, 'fa fa-plus': !accordian[5].isFirstOpen}"></i>
     </uib-accordion-heading>
     This is just some content to illustrate fancy headings.
   </uib-accordion-group>
   <uib-accordion-group is-open="accordian[6].isFirstOpen">
     <uib-accordion-heading>
       DRINKS<i class="pull-right fa" ng-class="{'fa fa-minus': accordian[6].isFirstOpen, 'fa fa-plus': !accordian[6].isFirstOpen}"></i>
     </uib-accordion-heading>
     This is just some content to illustrate fancy headings.
   </uib-accordion-group>

 </uib-accordion>

  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h4>WE ARE ALSO
LOCATED AT</h4>
      </div>
    </div>
 <div class="row ">
        <div class="col-md-4 mt35" ng-repeat="item in rowdata track by $index">
            <div class="body-img position-relative">
                <div class="img-main position-relative">
                    <img ng-src="{{item.img}}" alt="" class="img-responsive">
                    <div class="sponser">
                        <div class="top-left">
                            <span>Sponsored</span>
                        </div>
                        <div class="top-right pull-right">
                            <img src="img/like.png" alt="" class="img-responsive">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="title text-center">
                    <h5 class="text-up color-bl f18 font-light">{{item.title}}</h5>
                    <span class="color-second">{{item.data}}</span>
                </div>
                <div class="rating text-center mt20">
                    <img src="img/star.png" alt="">
                </div>
                <div class="text-center mt10">
                    <button class="know-m text-up btn-green font-light f18">know more</button>
                </div>
                <div class="second-layer">
                  <div class="up-title">
                    <h4>Amica Cafe</h4>
                  </div>
                  <div class="data-det mt15">
                    <p>
                      The yoga studio is an ambient space that was created by Seema Sondhi in 2001, where she could spread the light of yoga.  The thought is to help individuals on a healthier and more peaceful path by teaching them a system of exercise that fully integrates the body, mind and soul.
                    </p>
                  </div>
                <div class="position-relative" style="width: 100%; height: 100%;">
                  <div class="text-center mt10 btn-down">
                      <button class="know-m text-up btn-yellow font-light f18">know more</button>
                  </div>
                </div>
                </div>

            </div>
        </div>

    </div>
    <div class="row">
        <div class="text-center p40">
            <h4 class="font-neutra font-light" style="color:#a7a9ac;">Loading..</h4>
        </div>
    </div>
  </div>
</section>
