<section>
  <div class="row">
    <div class="col-md-6">
      <flex-slider class="carousel " flex-slide="love in loveSlider track by $index">
          <li>
              <div class="img position-relative">

                  <img ng-src="{{love.img}}" alt="">



                  <div class="slider-data">
                      <h2 class="font-rubik color-white f40 m-auto">Amica Cafe</h2>
                      <h4 class="font-rubik color-white f28 mob-margin m-font12">Lorem Ipsum Dolor Sit Amet</h4>
                      <h4 class="font-rubik color-white f28 mob-margin m-font12">Consectetuer ati.</h4>
                      <div class="box-rat mt35 hidden-md hidden-lg">
                          <img src="img/rating.png" alt="">
                      </div>
                      <div class="btn-know mt35 mar-mob">
                          <button type="button" class="btn-white font-rubik text-up kno-btn" name="button">KNOW MORE</button>
                      </div>
                  </div>
              </div>
          </li>
      </flex-slider>
    </div>
    <div class="col-md-6">
      <div class="rest-name">
          <h2 class="font-rubik color-second font500">AMICA CAFE</h2>
      </div>
      <div class="select-city mt20">
          <select class="form-control font-rubik text-up f18 select-cl color-bl">
              <option>Colaba, Mumbai</option>
              <option>Colaba, Mumbai</option>
              <option>Colaba, Mumbai</option>

          </select>
      </div>

      <div class="rating">
<span uib-rating ng-model="rate" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></span>
</div>
    </div>
  </div>
</section>
