<div class="studio-detail">
<section class="studio-description">
  <div class="container-fluid">
  <div class="row">
    <div class="col-md-6 padding0 col-sm-6">
      <flex-slider class="carousel " flex-slide="love in loveSlider track by $index">
          <li>
              <div class="img position-relative">

                  <img ng-src="{{love.img}}" alt="">



                  <div class="slider-data">
                      <h2 class="font-rubik color-white f40 m-auto">Amica Cafe</h2>
                      <h4 class="font-rubik color-white f28 mob-margin m-font12">Lorem Ipsum Dolor Sit Amet</h4>
                      <h4 class="font-rubik color-white f28 mob-margin m-font12">Consectetuer ati.</h4>
                      <div class="box-rat mt35 hidden-md hidden-lg">
                          <img src="img/rating.png" alt="">
                      </div>
                      <div class="btn-know mt35 mar-mob">
                          <button type="button" class="btn-white font-rubik text-up kno-btn" name="button">KNOW MORE</button>
                      </div>
                  </div>
              </div>
          </li>
      </flex-slider>
    </div>
    <div class="col-md-6 padding0 col-sm-6">
      <div class="rest-name">
          <h2 class="font-rubik color-second font500">AMICA CAFE</h2>
      </div>
      <div class="select-city mt20">
          <select class="form-control font-rubik text-up f18 select-cl color-bl">
              <option>Colaba, Mumbai</option>
              <option>Colaba, Mumbai</option>
              <option>Colaba, Mumbai</option>

          </select>
      </div>
      <div class="select-city mt20">
          <select class="form-control font-rubik text-up f18 select-cl color-bl">
              <option>Colaba, Mumbai</option>
              <option>Colaba, Mumbai</option>
              <option>Colaba, Mumbai</option>

          </select>
      </div>

      <div class="rating">
<span uib-rating ng-model="rate" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></span>
</div>
<div class="decsription">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem earum sed numquam, doloribus, corrupti asperiores ut qui, perspiciatis pariatur fugit, distinctio illum. Quasi exercitationem consectetur porro, expedita consequatur accusamus accusantium.</p>
<span>read more</span>
</div>
    </div>
  </div>
</div>
</section>
<section>
  <div class="tab">
  <uib-tabset>
      <uib-tab>
          <uib-tab-heading>
              <span class="text-uppercase">classes</span>
          </uib-tab-heading>
      </uib-tab>
      <uib-tab>
          <uib-tab-heading>
              <span class="text-uppercase">yoga styles</span>
          </uib-tab-heading>
      </uib-tab>
      <uib-tab>
          <uib-tab-heading>
              <span class="text-uppercase">teachers</span>
          </uib-tab-heading>
      </uib-tab>
      <uib-tab>
          <uib-tab-heading>
              <span class="text-uppercase">restaurants</span>
          </uib-tab-heading>
      </uib-tab>
    </uib-tabset>
      </div>
      </div>
</section>
    <section class="schedule">
      <div class="container">
<h2 class="text-uppercase text-center">upcoming class schedule</h2>
      </div>
    </section>
    <section>
        <div class="container-fluid">
      <div class="style-banner">
      <img src="img/r4.jpg" class="img-responsive" alt="">
      <p class="text-uppercase">yoga styles</p>
    </div>
  </div>
    </section>
    <section class="yoga-styles">
      <div class="container-fluid">
    <div class="style-description">
      <div class="row">
        <div class="col-md-6">
        <h3>ansura</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam in nesciunt amet nostrum accusamus inventore quibusdam odio incidunt enim accusantium, laborum sit voluptates, harum deleniti dolor eligendi. Rerum, qui, perspiciatis.</p>
        <button type="button" class="btn-green font-rubikm f18 text-up">Know more</button>
        <button type="button" class="btn-green font-rubikm f18 text-up">Know more</button>
        </div>
        <div class="col-md-6">
<h3>bikram</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam in nesciunt amet nostrum accusamus inventore quibusdam odio incidunt enim accusantium, laborum sit voluptates, harum deleniti dolor eligendi. Rerum, qui, perspiciatis.</p>
<button type="button" class="btn-green font-rubikm f18 text-up">Know more</button>
<button type="button" class="btn-green font-rubikm f18 text-up">Know more</button>
        </div>
      </div>
    </div>
    </div>
    </section>
    <section>
      <div class="bg-like mt30">
        <div class="pos-top text-center">
          <h2 class="font-rubik color-white font-light text-uppercase">teachers</h2>
          <h3 class="font-rubik color-white font-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
        <h4 class="font-rubik color-white font-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
        </div>
      </div>
    </section>
    </div>
