<footer>
  <div class="container-fluid">
    <div class="footer-menu">
      <div class="row-flex">
        <div class="col-flex-65">
          <div class="row">
            <div class="col-md-4">
              <h3 class="text-uppercase">yoga food love</h3>
              <ul>
                <li><a href="" class="text-uppercase">Book a Class</a></li>
                <li><a href="" class="text-uppercase">About us</a></li>
                <li><a href="" class="text-uppercase">Studio Listing</a></li>
                <li><a href="" class="text-uppercase">Yoga Style Listing</a></li>
                <li><a href="" class="text-uppercase">Teacher Listing</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <h3 class="text-uppercase">Customer service</h3>
              <ul>
                <li><a href="" class="text-uppercase">contact us</a></li>
                <li><a href="" class="text-uppercase">help</a></li>
                <li><a href="" class="text-uppercase">faq</a></li>
                <li><a href="" class="text-uppercase">how it works</a></li>
                <li><a href="" class="text-uppercase">events</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <h3 class="text-uppercase">information</h3>
              <ul>
                <li><a href="" class="text-uppercase">Booking Policy</a></li>
                <li><a href="" class="text-uppercase">Privacy Policy</a></li>
                <li><a href="" class="text-uppercase">Terms &amp; COnditions</a></li>
                <li><a href="" class="text-uppercase">Cookies Policy</a></li>
                <li><a href="" class="text-uppercase">Press ReLeases</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-flex-35">
          <div class="list">
            <h3>GET ON THE LIST</h3>
            <form action="">
              <input type="email" class="control" placeholder="Enter your E-mail address">
              <button class="btn join text-uppercase">join</button>
            </form>
          </div>
          <div class="connected">
            <h3>Stay Connected</h3>
            <ul class="list-inline">
              <li><a href=""><i class="fa fa-facebook"></i></a></li>
              <li><a href=""><i class="fa fa-twitter"></i></a></li>
              <li><a href=""><i class="fa fa-instagram"></i></a></li>
              <li><a href=""><i class="fa fa-pinterest-p"></i></a></li>
              <li><a href=""><i class="fa fa-paper-plane"></i></a></li>
              <li><a href=""><i class="fa fa-youtube-play"></i></a></li>
              <li><a href=""><i class="fa fa-google-plus"></i></a></li>
              <li><a href=""><i class="fa fa-music"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-main">
    <div class="container-fluid">
      <div class="clearfix">
        <p class="pull-left">&copy; Yoga Food Love {{template.year}}. All rights reserved.</p>
        <p class="pull-right">DESIGN &amp; DEVELOPMENT BY PLEASE SEE</p>
      </div>
    </div>
  </div>
</footer>
