<footer>
  <div class="footer-menu">
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-8">
              <div class="padd30">
          <div class="row">

            <div class="col-md-4 col-sm-4 col-xs-4">
              <h4 class="text-uppercase font-rubik color-white">yoga food love</h4>
              <ul class="padding0 list-style mt45">
                <li><a href="" class="text-uppercase font-rubik">Book a Class</a></li>
                <li><a href="" class="text-uppercase font-rubik">About us</a></li>
                <li><a href="" class="text-uppercase font-rubik">Studio Listing</a></li>
                <li><a href="" class="text-uppercase font-rubik">Yoga Style Listing</a></li>
                <li><a href="" class="text-uppercase font-rubik">Teacher Listing</a></li>
              </ul>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <h4 class="text-uppercase font-rubik color-white">Customer service</h4>
              <ul class="padding0 list-style mt45">
                <li><a href="" class="text-uppercase font-rubik">contact us</a></li>
                <li><a href="" class="text-uppercase font-rubik">help</a></li>
                <li><a href="" class="text-uppercase font-rubik">faq</a></li>
                <li><a href="" class="text-uppercase font-rubik">how it works</a></li>
                <li><a href="" class="text-uppercase font-rubik">events</a></li>
              </ul>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <h4 class="text-uppercase font-rubik color-white">information</h4>
              <ul class="padding0 list-style mt45">
                <li><a href="" class="text-uppercase font-rubik">Booking Policy</a></li>
                <li><a href="" class="text-uppercase font-rubik">Privacy Policy</a></li>
                <li><a href="" class="text-uppercase font-rubik">Terms &amp; COnditions</a></li>
                <li><a href="" class="text-uppercase font-rubik">Cookies Policy</a></li>
                <li><a href="" class="text-uppercase font-rubik">Press ReLeases</a></li>
              </ul>
            </div>
            </div>
    </div>
        </div>
        <div class="col-md-4 padding0">

          <div class="connect-with-us">
            <div class="list mt10">
              <h4 class="margin0 font-rubik color-white f16">GET ON THE LIST</h4>
              <form action="" class="mt15 place">
                <input type="email" class="form-control height60" placeholder="Enter your E-mail address">
                <div class="pull-right mt10">
                  <button class="btn join text-uppercase btn-join">join</button>
                </div>
<div class="clearfix"></div>
              </form>
            </div>
            <div class="connected">
              <h3 class="border-white color-white font-rubik">Stay Connected</h3>

              <ul class="list-inline">
                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                <li><a href=""><i class="fa fa-instagram"></i></a></li>
                <li><a href=""><i class="fa fa-pinterest-p"></i></a></li>
                <li><a href=""><i class="fa fa-paper-plane"></i></a></li>
                <li><a href=""><i class="fa fa-youtube-play"></i></a></li>
                <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                <li><a href=""><i class="fa fa-music"></i></a></li>
              </ul>
            </div>
          </div>

        </div>

      </div>
    </div>

  </div>

 <div class="footer-main">

    <div class="container-fluid">
      <div class="neu">
        <p class="pull-left">&copy; Yoga Food Love {{template.year}}. All rights reserved.</p>
        <p class="pull-right">DESIGN &amp; DEVELOPMENT BY PLEASE SEE//</p>
      </div>
    </div>

</footer>
