<header ng-controller="headerctrl">
    <nav class="navbar navbar-fixed-top">
        <div class="container text-center">
            <div class="logo text-center m-right">
                <a ui-sref="home">
                    <img src="img/logo.png" class="z-img">
                </a>
            </div>
            <div class="absoluted">
                <div class="mt35 pull-left">
                    <a href="" ng-click="getMenu();">
                        <img src="img/option.png" alt="">
                    </a>
                </div>
                <div class="mt35 pull-right">
                    <button class="btn btn-clear text-up">Sign In</button>
                    <button class="btn btn-green text-up">Become a member</button>
                </div>
            </div>

            <div class="side-menu menu-out">
                <span ng-click="closeMenu();" class="closemenu {{menu}}">
                    <i class="ln-cross"></i>
                </span>
                <span class="pull-right close-icon">
                    <i class="fa fa-2x fa-times-circle-o" ng-click="closeMenu();"></i>
                </span>
                <div class="template menu" ng-include="template.menu"></div>

                <div class="mt30">
                    <button class="butns btn bg-blue text-up">Become a member</button>
                </div>
            </div>
        </div>
    </nav>
</header>
