<header>
   <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="hamburger pull-left">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </div>
      <div class="pull-right">
        <a href="" class="text-uppercase">Sign in</a>
      </div>
        <div class="collapse navbar-collapse" id="nav-collapse">
               <div ng-include="template.menu" class="template menu"></div>
        </div>
    </div>
</nav>
</header>
