<header>
  <nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
      <!-- <div class="hamburger pull-left">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </div> -->
      <div class="row">
        <div class="col-md-2 text-center">
          <div class="mt35">
            <a href="">
              <img src="img/option.png" alt="">
            </a>
          </div>
        </div>
        <div class="col-md-8">
          <div class="logo text-center ">
            <img src="img/logo.png" alt="">
          </div>
        </div>
        <div class="col-md-2">
          <div class="text-center mt38 sign">
            <a href="" class="text-uppercase color-black font-rubik f18" style="text-decoration:none">Sign in</a>
          </div>
        </div>
      </div>

      <!-- <div class="collapse navbar-collapse" id="nav-collapse">
        <div ng-include="template.menu" class="template menu"></div>
      </div> -->
    </div>
  </nav>
</header>
