<ul class="slide-menu">
    <li class="yoga-icon icon-effect">
        <h4>YOGA</h4>
    </li>
    <li>
        <a ui-serf="" class="capitalize ">yoga studio</a>
    </li>
    <li>
        <a ui-serf="" class="capitalize">yoga teachers</a>
    </li>
    <li>
        <a ui-serf="" class="capitalize">buy yoga pass</a>
    </li>
    <li class="food-icon icon-effect">
        <h4>FOOD</h4>
    </li>
    <li>
        <a ui-sref="home" class="capitalize">restaurants listing</a>
    </li>
    <li>
        <a ui-sref="home" class="capitalize">health tips</a>
    </li>
    <li>
        <a ui-sref="home" class="capitalize">order online</a>
    </li>
    <li>
        <a ui-sref="home" class="capitalize">healthy eating recipes</a>
    </li>
    <li class="love-icon icon-effect">
        <h4>LOVE</h4>
    </li>
</ul>
