<!-- <ul class="nav navbar-nav">
  <li ng-repeat="menu in navigation" class="{{menu.classis}}">
    <a ui-sref="{{menu.anchor}}" ng-if="menu.anchor">{{menu.name}}</a>
    <a href="{{menu.link}}" ng-if="menu.link">{{menu.name}}</a>
    <ul class="dropdown-menu" ng-if="menu.subnav!='';">
      <li ng-repeat="submenu in menu.subnav">
        <a ui-serf="{{submenu.link}}">{{submenu.name}}</a>
      </li>
    </ul>
  </li>
</ul> -->
<ul class="nav navbar-nav">
    <li class="active log">
      <h4>YOGA</h4>
      </li>
      <li>
        <a ui-serf="" class="capitalize ">yoga studio</a>
      </li>
      <li>
        <a ui-serf="" class="capitalize">yoga teachers</a>
      </li>
      <li>
        <a ui-serf="" class="capitalize">buy yoga pass</a>
      </li>
      <li class="active loging">
        <h4>FOOD</h4>
        </li>
    <li>
        <a ui-sref="home" class="capitalize">restaurants listing</a>
      </li>
      <li>
          <a ui-sref="home" class="capitalize">health tips</a>
        </li>
        <li>
            <a ui-sref="home" class="capitalize">order online</a>
          </li>
          <li>
              <a ui-sref="home" class="capitalize">healthy eating recipes</a>
            </li>
            <li class="active logs">
              <h4>LOVE</h4>
              </li>
</ul>
